<!DOCTYPE HTML>
<html>
<body>
  <p>
	  <br><u><b>Song Title:</b></u> <%= myNotes.title %></a><br>
	  <br><u><b>Song Title:</b></u> <%= myNotes.description %></a><br>
	  <br><u><b>Song Title:</b></u> <%= myNotes.user_phone %></a><br>
	  <br><u><b>Song Title:</b></u> <%= myNotes.UserId %></a><br>
	</p>
</body>
</html>


