<!DOCTYPE HTML>
<html>
<body>
  <h1>Classmates new:</h1>
  <!-- Note that when submitted, the form
       sends a POST request to the /users
       route -->
  <form method="POST" action="/users">
    <input type="text" name="first_name">
    <input type="number" name="phone">
    <button type="submit">Submit</button>
  </form>

</body>
</html>