<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<div>
			<h1>Add a new Note:</h1>
			<!-- Note that when submitted, the form
		       sends a POST request to the /notes
		       route -->
			<form method="POST" action="/notes">
		    	<input type="text" name="title" placeholder="title">
		    	<input type="text" name="description" placeholder="description">
		    	<input type="text" name="phone" placeholder="phone">
		    	<input type="text" name="user_id" placeholder="user id">
		    	<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>