<!DOCTYPE HTML>
<html>
<body>
  <h1>Notes:</h1>
  <% n.forEach(function(nt) { %>
  <div>
    <%= nt.title %>
    <%= nt.description %>
    <%= nt.user_phone %>
    <%= nt.UserId %>
  </div>
  <% }) %>
</body>
</html>