.box {
  display: inline-block;
  width: 46.5%;
  height: 10em;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.red {
	color: red;
}

.center {
	margin: 0 auto;
}

.blue {
	background-color: blue;
}

.pink {
	background-color: pink;
}