#all-notes-page .all-notes {
	margin-top: 8em;
	text-align: center;
}

#all-notes-page .box {
  display: inline-block;
  width: 8em;
  height: 8em;
  line-height: 8em;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

#all-notes-page .box a {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

#all-notes-page .center {
	margin: 0 auto;
}

#all-notes-page .blue {
	background-color: blue;
}

#all-notes-page .pink {
	background-color: pink;
}

#all-notes-page .modal-content input {
	border:none;
	width: 100%;
	height: 3em;
	text-align: center;
}

.modal button {
	background: none;
    border: none;
}


.modal-footer form {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#trash {
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}