#all-notes-page .all-notes {
	margin-top: 8em;
	text-align: center;
}

#all-notes-page .box {
  display: inline-block;
  width: 10em;
  height: 10em;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

#all-notes-page .center {
	margin: 0 auto;
}

#all-notes-page .blue {
	background-color: blue;
}

#all-notes-page .pink {
	background-color: pink;
}