#create-note-page .add-note {
	margin-top: 7em;
}

div.behind {
    position: relative;
}

div.fade_div {
	display: none;
	border: none;
    position: absolute;
    left: 24%;
    right: 24%;
}

input {
	margin: 10px;
	width: 20em;
}