#create-note-page .add-note {
	margin-top: 7em;
}

div.behind {
    position: relative;
}

div.fade_div {
	display: none;
	border: none;
    position: absolute;
    left: 24%;
    right: 24%;
}

input {
	width: 325px;
	margin-bottom: 20px;
}

.add-note .container {
	padding: 0px;
}

textarea {
	width: 325px;
}