.login-signup {
	margin-top:100px;
}

.login-form {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #494949;
}

.inside {
	height: 60em;
    width: 100%;
}

.photos {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}


.bb {
	font-weight: bolder;
	padding-top: 32px !important;
}

#photo1 {
	background-image: url(../img/shoes.png);
}

#photo2 {
	background-image: url(../img/couple.jpg);
}

#photo3 {
	background-image: url(../img/heart.png);
}

#photo4 {
	background-image: url(../img/hands2.jpg);
}

/*.background-yellow {
	background-color: #F9F7DE;
}*/

/*.btm-create {
	padding: 3em;
}
*/
button {
	width: 171px;
    height: 39px;
}

.navbar {
	margin-bottom: 0px
}

.photos h2 {
	margin-top: 0px;
	padding-top: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.about-glyphs {
	height: 10em;
	padding-top: 1em;
}

.about-glyphs .glyphicon {
	font-size: 40px;
	margin: 0px;
}

.about {
	padding-left: 2em
}

.padding-top-text {
	margin-top: 10px;
	color: white;
}

@media screen and (max-width: 499px) {
    #photo1, #photo4 {
    	background-position: center;
    	background-size: cover;
    }
    #photo2, #photo3 {
    	background-position: left;
    	background-size: cover;
    }

    .inside {
    	height: 40em;
    }
}

.flt-right {
	float: right;
}
