.margin-top {
	margin-top: 100px;
}

.lg-logo {
	display: block;
    width: 15em;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
}

.confirm-text {
	text-align: center;
	font-size: 18px;
	padding-left: 3em;
	padding-right: 3em;

}

.confirm-buttons {
	display: block;
	margin: auto;
}

.green-yes {
	width: 6em;
    height: 6em;
    border-radius: 80px;
    background-color: green;
    border: none;
    color: white;
}

.no-signup {
	width: 10em;
    height: 2em;
    border-radius: 5px;
    background-color: red;
    color: white;
}

.nope-nope {
	width: 3em;
    height: 2em;
    border-radius: 5px;
    background-color: red;
    color: white;
    margin-bottom: 2em;
}
