@font-face {
	font-family: gabriola;
	src:url('../fonts/Gabriola.ttf');
}

.logo {
	height: 70px;
	width: 70px;
	margin-top: -6px;
}

.long-logo {
	height: 50px;
	width: 120px;
	padding-top: .4em;
    padding-bottom: .4em;
}

.navbar-brand {
	padding: 0px 0px 0px 20px;
	margin-top: -7px;
}

.design-yellow {
	background-color: #FFC300;
	margin: 0px;
}

.container-fluid {
	padding: 0px;
}

.right-padding {
	padding-right: 20px;
}

.design-purple {
	color: #900D40;
}

.glyphicon {
	margin-left: 42%;
    margin-top: 18px;
}

#icon-navbar {
	height: 50px;
}

.vertical-align-mid {
	vertical-align: middle;
}

#icon-navbar .col-xs-4 {
	border: 1px solid black;
	line-height: 40px;
	height: 50px;
}

.full-width {
	width: 100%;
}

.navbar-collapse ul li a {
	padding-left: 28px;
}

.inline-block {
	display: inline-block;
}

/*.right-float {
	float: right;
}*/

.text-white {
	color: white;
}

.middle {
	margin: 0 auto;
	text-align: center;
	font-style: serif;
}

.gabriola {
	font-family: gabriola;
	font-size: 40px;
	margin: 0px 0px 0px 20px;
}

.text-sm {
	font-family: gabriola;
	font-size: 18px;
}

.text-md {
	font-family: gabriola;
	font-size: 26px;
}

.text-lg {
	font-family: gabriola;
	font-size: 44px;
}

.collapse li {
	padding-top: 4px;
}

button {
	border-radius: 5px;
	background-color: #900D40;
	color: #FFC300;
/*	width: 171px;
    height: 39px;*/
}

input {
	text-align: center;
}

.navbar-header button {
	width: 45px;
}