.design-yellow {
	background-color: #FFC300;
	margin: 0px;
}

.design-purple {
	color: #900D40;
}

.container-fluid {
	padding: 0px;
}

.navbar-right {
	padding-right: 20px;
}

.pull-left {
	margin-left: 30px;
}

.glyphicon {
	margin-left: 50%;
    margin-top: 20px;
}

#icon-navbar {
	height: 50px;
}

.vertical-align-mid {
	vertical-align: middle;
}

#icon-navbar .col-xs-4 {
	border: 1px solid black;
	line-height: 40px;
	height: 50px;
}

.navbar-collapse ul li a {
	padding-left: 30px;
}

.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}