#theme-page .gratitude {
	margin-top: 150px;
	text-align: center;
}

#theme-page ul {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#theme-page ul {
	padding: 11px;
}

#theme-page li {
	float: left;
}